body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

nav {
  background-color: #003366;
  color: white;
  padding: 0 15px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.navdiv {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

nav ul {
  display: flex;
  align-items: center;
  gap: 50px;
  margin: 0;
  padding: 0;
}

.logo {
  margin-right: 50px;
  margin-bottom: 10px;
  margin-top: 10px;
}

.logo img {
  background-color: white;
  max-width: 50%;
  height: auto;
  display: block;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

nav li {
  list-style: none;
  position: relative;
}

nav li a {
  display: block;
  padding: 10px 15px;
  text-decoration: none;
  color: white;
  font-size: 18px;
  font-weight: bold;
  border-radius: 10px;
  transition: all 0.3s ease;
}

nav li a:hover {
  background-color: white;
  color: black;
  transform: translateY(-3px);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3);
}

nav button {
  background-color: #f2f2f2;
  border: none;
  border-radius: 8px;
  padding: 10px 20px;
  color: black;
  font-weight: 600;
  cursor: pointer;
  transition:
    background-color 0.3s ease,
    transform 0.2s ease;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

nav button:hover {
  background-color: lightblue;
  transform: scale(1.03);
}

/* Submenú */
.submenu {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  min-width: 200px;
  background-color: #4477aa;
  border-radius: 10px;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  z-index: 1000;
}

.submenu li a {
  padding: 12px 16px;
  color: white;
  font-weight: normal;
  font-size: 15px;
  transition: background-color 0.3s;
}

.submenu li a:hover {
  background-color: #335580;
  color: #fff;
}

.has-submenu:hover .submenu {
  display: block;
}
